* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-color: #fdfdfd;
}

main {
  width: 100%;
  position: absolute;
  top: 50px;
}

main footer {
  width: 100%;
  background-color: #2b313c;
  color: #ddd;
  padding: 3rem;
  text-align: center;
  font-size: 1rem;
}
main footer p {
  margin-bottom: 0.5rem;
}
main footer a {
  color: #71d3ff;
  text-decoration: none;
}
main footer a:hover {
  text-decoration: underline;
}

header.app-header {
  background-color: rgb(41, 78, 128);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 20px 0px;
  display: flex;
  height: 50px;
  margin: 0;
  padding: 0 32px;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.logo {
  display: block;
  float: left;
  color: #fff;
  font-size: 20px;
  flex: 0;
  line-height: 50px;
}

.logo > a {
  color: #fff;
  text-decoration: none;
}

.logo > a:hover {
  text-decoration: underline;
}

nav.navbar {
  flex: 1;
  display: flex;
  margin: 0;
  padding: 0;
}

ul.nav {
  display: flex;
  flex: 1;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul.nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav > ul.nav > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav > ul.nav > li > a {
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  text-decoration: none;
}

nav > ul.nav > li > a:hover {
  text-decoration: none;
}

nav > ul.nav > li.selected {
  background-color: #fff;
}

nav > ul.nav > li.selected > a {
  color: rgb(41, 78, 128);
}
